<%= form_for(@labworker) do |f| %>
  <% if @labworker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@labworker.errors.count, "error") %> prohibited this labworker from being saved:</h2>

      <ul>
      <% @labworker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :student_name %><br />
    <%= f.text_field :student_name %>
  </div>
  <div class="field">
    <%= f.label :student_phone %><br />
    <%= f.number_field :student_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
